/*
  Tell Tailwind where to find your HTML templates and JS files.
  Paths are relative to this CSS file.
*/
@source "../js/**/*.{js,ts}";
@source "../../../templates/**/*.html";

/* Import the core Tailwind v4 engine */
@import "tailwindcss";

/* Load the Tailwind v4 plugins */
@plugin "@tailwindcss/typography";

/* Load the DaisyUI v5 plugin using the new v4 syntax */
@plugin "daisyui";

/* default theme */
@plugin "daisyui/theme" {
  name: "hanz.jsmx.org";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(0.1149 0.0385 25.69);
  --color-base-200: oklch(0.2089 0.0793 31.93);
  --color-base-300: oklch(0.2816 0.1073 31.79);
  --color-base-content: oklch(0.9487 0.0256 26.53);
  --color-primary: oklch(0.5851 0.2342 30.06);
  --color-primary-content: oklch(97% 0.013 17.38);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(0.8444 0.0998 65.78);
  --color-accent-content: oklch(0.3938 0.0953 56.99);
  --color-neutral: oklch(0.28 0.0323 261.69);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(47% 0.137 46.201);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.3125rem;
  --size-field: 0.3125rem;
  --border: 0.5px;
  --depth: 1;
  --noise: 1;
}
